.container{
    margin-left: auto;
    margin-right: auto;
    >.button{
        cursor:pointer;
        /* background:#6de7a8; */
        background:#f00;
        /* 省略 */
        &:hover{
            scale:1.1;
            opacity: 0.5;
        }
    }
}