.burger{
    --opacity: 1;
    --rotate: 0;
    --translate: .5rem;
    display: grid;
    place-items: center;
    width: 44px;
    aspect-ratio: 1;
    border: none;
    background-color: #ccc;
    background-color: transparent;
    cursor: pointer;
    &:hover{
        background-color: #eee;
    }
    &.is-active{
        --opacity: 0;
        --rotate: 135deg;
        --translate: 0;
    }
}
span{
    display: block;
    width: 70%;
    height: 3px;
    background-color: #000;
    grid-area: 1/1/-1/-1;
    transition: opacity .4s ease, rotate .4s ease,translate .4s ease;
    &:nth-child(1){
        opacity: var(--opacity);
    }
    &:nth-child(2){
        translate: 0 calc(var(--translate)* -1);
        rotate: var(--rotate)
    }
    &:nth-child(3){
        translate: 0 var(--translate);
        rotate: calc(var(--rotate)* -1);
    }
}
.menu{
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s ease;

    &.is-active {
        opacity: 1;
        pointer-events: all;
    }
}
body{
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}